.form-control {
    canvas {
    left: 10px;
    right: 100px;
    max-width: none;
    border-radius: 4px;
    display: block;
    margin:  auto;
    }

    button.btn {
    width: 100px;
    margin-top: 0px;
    }

    button.btn.btn-primary {
    float: right;
    }

    &.mx-textarea-input {
    
    padding: 8px 10px;
    border-radius: 4px;
    position: relative;
    }
}
