.form-control mx-textarea-input mx-textarea mx-textarea-input-noresize {
    canvas {
        position: relative;
        left: 0px;
        right: 0px;
        max-width: none;
        display: block;
        margin: 0 auto;
        width: 10%;
        color: #808080;
        cursor: not-allowed;
        background-color: rgb(59, 7, 7);
        opacity: 1;
    }

    button.btn {
        width: 100px;
        margin-top: 10px;
    }

    button.btn.btn-primary {
        float: right;
    }

    &.signature-unset {
        float: left;
        clear: left;
    }
}
